<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apartats</title>
    <link rel="stylesheet" href="crud.css">
</head>
<body>
<div><a href="/" class="returnIndex">Torna al index</a></div>
<div class="container">
    <div class="box">
        <h3>País</h3>
        <a href="/country"><button>Anar a País</button></a>
    </div>
    <div class="box">
        <h3>Llengua</h3>
        <a href="/language"><button>Anar a Llengua</button></a>
    </div>
    <div class="box">
        <h3>Rol Llengua</h3>
        <a href="/languageRole"><button>Anar a Rol Llengua</button></a>
    </div>
    <div class="box">
        <h3>Gènere</h3>
        <a href="/genre"><button>Anar a Gènere</button></a>
    </div>
    <div class="box">
        <h3>Paraula Clau</h3>
        <a href="/keyword"><button>Anar a Paraula Clau</button></a>
    </div>
    <div class="box">
        <h3>Companyia de Pel·lícules</h3>
        <a href="/movieCompany"><button>Anar a Companyia de Pel·lícules</button></a>
    </div>
    <div class="box">
        <h3>Companyia de Producció</h3>
        <a href="/productionCompany"><button>Anar a Companyia de Producció</button></a>
    </div>
    <div class="box">
        <h3>Gènere (Persona)</h3>
        <a href="/gender"><button>Anar a Gènere (Persona)</button></a>
    </div>
    <div class="box">
        <h3>Persona</h3>
        <a href="/person"><button>Anar a Persones</button></a>
    </div>
</div>
</body>
</html>
