<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apartats</title>
    <link rel="stylesheet" href="crud.css">
</head>
<body>
<div class="container">
    <div class="box">
        <h3>País</h3>
        <form action="/country" method="GET">
            <input type="text" name="pais" placeholder="Escriu el nom del país">
            <button type="submit">Anar a País</button>
        </form>
    </div>
    <div class="box">
        <h3>Llengua</h3>
        <form action="/language" method="GET">
            <input type="text" name="llengua" placeholder="Escriu el nom de la llengua">
            <button type="submit">Anar a Llengua</button>
        </form>
    </div>
    <div class="box">
        <h3>Rol Llengua</h3>
        <form action="/language_role" method="GET">
            <input type="text" name="rol_llengua" placeholder="Escriu el rol de la llengua">
            <button type="submit">Anar a Rol Llengua</button>
        </form>
    </div>
    <div class="box">
        <h3>Gènere</h3>
        <form action="/genre" method="GET">
            <input type="text" name="genere" placeholder="Escriu el gènere">
            <button type="submit">Anar a Gènere</button>
        </form>
    </div>
    <div class="box">
        <h3>Paraula Clau</h3>
        <form action="/keyword" method="GET">
            <input type="text" name="paraula_clau" placeholder="Escriu la paraula clau">
            <button type="submit">Anar a Paraula Clau</button>
        </form>
    </div>
    <div class="box">
        <h3>Companyia de Pel·lícules</h3>
        <form action="/movie_company" method="GET">
            <input type="text" name="companyia_pellicules" placeholder="Escriu el nom de la companyia de pel·lícules">
            <button type="submit">Anar a Companyia de Pel·lícules</button>
        </form>
    </div>
    <div class="box">
        <h3>Companyia de Producció</h3>
        <form action="/production_company" method="GET">
            <input type="text" name="companyia_produccio" placeholder="Escriu el nom de la companyia de producció">
            <button type="submit">Anar a Companyia de Producció</button>
        </form>
    </div>
    <div class="box">
        <h3>Gènere (Persona)</h3>
        <form action="/gender" method="GET">
            <input type="text" name="genere_persona" placeholder="Escriu el gènere de la persona">
            <button type="submit">Anar a Gènere (Persona)</button>
        </form>
    </div>
    <div class="box">
        <h3>Persona</h3>
        <form action="/person" method="GET">
            <input type="text" name="persona_departament" placeholder="Escriu el nom de la persona a cercar">
            <button type="submit">Anar a Persones</button>
        </form>
    </div>
</div>
</body>
</html>
