<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Nuevo Género</title>
    <link rel="stylesheet" href="/create.css">
</head>
<body>
<h1>Crear Nuevo Género</h1>

<form action="/createGender" method="post">
    <label for="gender">Nombre del Género:</label>
    <input type="text" id="gender" name="gender" required>
    <button type="submit">Crear</button>
</form>

<br>
<a href="/gender">Volver a la lista de géneros</a>
</body>
</html>
