<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<h1>Cerca peliculas:</h1>
<form action="/MovieSearchCast" method="get">
    <h4>Per Actor</h4>
    <input type="text" name="actor" placeholder="Escriu el nom del actor">
    <input type="submit" value="Cercar">
</form>
<form action="/MovieSearchCharacter" method="get">
    <h4>Per Personatges</h4>
    <input type="text" name="character" placeholder="Escriu el nom del personatge">
    <input type="submit" value="Cercar">
</form>
<form action="/MovieSearchTitle" method="get">
    <h4>Per Titol</h4>
    <input type="text" name="movie" placeholder="Escriu el titol">
    <input type="submit" value="Cercar">
</form>
<form action="/MovieSearchDirector" method="get">
    <h4>Per Director</h4>
    <input type="text" name="director" placeholder="Escriu el nom del director">
    <input type="submit" value="Cercar">
</form>
</body>
</html>