<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Llista de Paraules Clau</title>
    <link rel="stylesheet" href="/list.css">
</head>
<body>
<h1>Llista de Paraules Clau</h1>
<a href="/crud">Retorna a la gestio de dades</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Nom de la Paraula Clau</th>
        <th>Accions</th>
    </tr>
    <tr th:each="keyword : ${keywords}">
        <td th:text="${keyword.id}"></td>
        <td th:text="${keyword.keywordName}"></td>
        <td>
            <a th:href="@{/searchKeyword(keywordName=${keyword.keywordName})}">Veure</a>
            <a th:href="@{/deleteKeyword/{id}(id=${keyword.id})}">Eliminar</a>
        </td>
    </tr>
</table>

<br>
<a href="/createKeyword">Crear una nova paraula clau</a>
</body>
</html>
