<!DOCTYPE html>
<html lang="ca" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Editar Pel·lícula</title>
    <link rel="stylesheet" href="/movie-details.css">
    <script src="/movie-details.js" defer></script>
</head>
<body>
<h1>Editar Pel·lícula: <span th:text="${movie.title}"></span></h1>

<form th:action="@{/movie}" th:object="${movie}" method="post" onsubmit="selectAllOptions()">
    <input type="hidden" th:field="*{id}" />

    <div>
        <label for="title">Títol</label>
        <input type="text" th:field="*{title}" id="title" required />
    </div>
    <div>
        <label for="budget">Pressupost</label>
        <input type="number" th:field="*{budget}" id="budget" required />
    </div>
    <div>
        <label for="homepage">Pàgina web</label>
        <input type="text" th:field="*{homepage}" id="homepage" />
    </div>
    <div>
        <label for="overview">Descripció</label>
        <textarea th:field="*{overview}" id="overview"></textarea>
    </div>
    <div>
        <label for="release_date">Data d'Estrena</label>
        <input type="date" th:field="*{release_date}" id="release_date" />
    </div>

    <h2>Gèneres</h2>
    <div style="display: flex; gap: 20px; align-items: center;">
        <div>
            <label>Gèneres Incluits</label>
            <select name="genreIds" id="genreIds" multiple>
                <option th:each="genre : ${movieGenres}" th:value="${genre.genre.id}"
                        th:text="${genre.genre.genreName}"></option>
            </select>
        </div>

        <div style="display: flex; flex-direction: column;">
            <button type="button" onclick="moveItem('remainingGenres', 'genreIds')">⬅</button>
            <button type="button" onclick="moveItem('genreIds', 'remainingGenres')">➜</button>
        </div>

        <div>
            <label>Gèneres No Incluits</label>
            <select id="remainingGenres" multiple>
                <option th:each="genre : ${remainingGenres}" th:value="${genre.id}"
                        th:text="${genre.genreName}"></option>
            </select>
        </div>
    </div>

    <h2>Països de Producció</h2>
    <div style="display: flex; gap: 20px; align-items: center;">
        <div>
            <label>Països Incluits</label>
            <select name="countryIds" id="countryIds" multiple>
                <option th:each="country : ${productionCountries}" th:value="${country.country.id}"
                        th:text="${country.country.countryName}"></option>
            </select>
        </div>

        <div style="display: flex; flex-direction: column;">
            <button type="button" onclick="moveItem('remainingCountries', 'countryIds')">⬅</button>
            <button type="button" onclick="moveItem('countryIds', 'remainingCountries')">➜</button>
        </div>

        <div>
            <label>Països No Incluits</label>
            <select id="remainingCountries" multiple>
                <option th:each="country : ${remainingCountries}" th:value="${country.id}"
                        th:text="${country.countryName}"></option>
            </select>
        </div>
    </div>

    <h2>Idiomes</h2>
    <div style="display: flex; gap: 20px; align-items: center;">
        <div>
            <label>Idiomes Incluits</label>
            <select name="languageIds" id="languageIds" multiple>
                <option th:each="language : ${movieLanguages}"
                        th:value="${language.language.id}"
                        th:text="${language.language.languageName + ' (' + language.languageRole.languageRole + ')'}">
                </option>
            </select>
        </div>

        <div style="display: flex; flex-direction: column;">
            <button type="button" onclick="moveItem('remainingLanguages', 'languageIds')">⬅</button>
            <button type="button" onclick="moveItem('languageIds', 'remainingLanguages')">➜</button>
        </div>

        <div>
            <label>Agregar Idiomes</label>
            <select id="remainingLanguages" multiple>
                <option th:each="language : ${remainingLanguages}"
                        th:value="${language.id}"
                        th:text="${language.languageName + ' (' + language.languageRole.languageName + ')'}">
                </option>
            </select>
        </div>
    </div>

    <h2>Paraules Clau</h2>
    <div style="display: flex; gap: 20px; align-items: center;">
        <div>
            <label>Paraules Clau Incluides</label>
            <select name="keywordIds" id="keywordIds" multiple>
                <option th:each="keyword : ${movieKeywords}" th:value="${keyword.keyword.id}"
                        th:text="${keyword.keyword.keywordName}"></option>
            </select>
        </div>

        <div style="display: flex; flex-direction: column;">
            <button type="button" onclick="moveItem('remainingKeywords', 'keywordIds')">⬅</button>
            <button type="button" onclick="moveItem('keywordIds', 'remainingKeywords')">➜</button>
        </div>

        <div>
            <label>Paraules Clau No Incluides</label>
            <select id="remainingKeywords" multiple>
                <option th:each="keyword : ${remainingKeywords}" th:value="${keyword.id}"
                        th:text="${keyword.keywordName}"></option>
            </select>
        </div>
    </div>

    <h2>Companyies de Producció</h2>
    <div style="display: flex; gap: 20px; align-items: center;">
        <div>
            <label>Companyies Incluides</label>
            <select name="companyIds" id="companyIds" multiple>
                <option th:each="company : ${movieCompanies}" th:value="${company.company.id}"
                        th:text="${company.company.companyName}"></option>
            </select>
        </div>

        <div style="display: flex; flex-direction: column;">
            <button type="button" onclick="moveItem('remainingCompanies', 'companyIds')">⬅</button>
            <button type="button" onclick="moveItem('companyIds', 'remainingCompanies')">➜</button>
        </div>

        <div>
            <label>Companyies No Incluides</label>
            <select id="remainingCompanies" multiple>
                <option th:each="company : ${remainingCompanies}" th:value="${company.id}"
                        th:text="${company.companyName}"></option>
            </select>
        </div>
    </div>

    <h2>Repartiment</h2>
    <div style="display: flex; gap: 20px; align-items: center;">
        <div>
            <label>Repartiment Inclòs</label>
            <select name="castIds" id="castIds" multiple>
                <option th:each="cast : ${movieCasts}" th:value="${cast.person.id}"
                        th:text="${cast.person.personName + ' - ' + cast.characterName}">
                </option>
            </select>
        </div>
    </div>

    <h2>Equip Tècnic</h2>
    <div style="display: flex; gap: 20px; align-items: center;">
        <div>
            <label>Equip Inclòs</label>
            <select name="crewIds" id="crewIds" multiple>
                <option th:each="crew : ${movieCrews}" th:value="${crew.person.id}"
                        th:text="${crew.person.personName + ' - ' + crew.job}">
                </option>
            </select>
        </div>
    </div>
    <button type="submit">Desar canvis</button>
</form>
</body>
</html>