<!DOCTYPE html>
<html lang="ca" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Crear Nova Pel·lícula</title>
    <link rel="stylesheet" href="/movie-details.css">
    <script src="/movie-details.js" defer></script>
</head>
<body>
<h1>Crear Nova Pel·lícula</h1>

<form th:action="@{/createMovie}" method="post" onsubmit="selectAllOptions()">
    <div>
        <label for="title">Títol</label>
        <input type="text" id="title" name="title" required />
    </div>
    <div>
        <label for="budget">Pressupost</label>
        <input type="number" id="budget" name="budget" required />
    </div>
    <div>
        <label for="homepage">Pàgina web</label>
        <input type="text" id="homepage" name="homepage" />
    </div>
    <div>
        <label for="overview">Descripció</label>
        <textarea id="overview" name="description"></textarea>
    </div>
    <div>
        <label for="release_date">Data d'Estrena</label>
        <input type="date" id="release_date" name="release_date" />
    </div>

    <h2>Gèneres</h2>
    <div style="display: flex; gap: 20px; align-items: center;">
        <div>
            <label>Gèneres Incluits</label>
            <select name="genreIds" id="genreIds" multiple>
            </select>
        </div>

        <div style="display: flex; flex-direction: column;">
            <button type="button" onclick="moveItem('remainingGenres', 'genreIds')">⬅</button>
            <button type="button" onclick="moveItem('genreIds', 'remainingGenres')">➜</button>
        </div>

        <div>
            <label>Gèneres No Incluits</label>
            <select id="remainingGenres" multiple>
                <option th:each="genre : ${allGenres}" th:value="${genre.id}"
                        th:text="${genre.genreName}"></option>
            </select>
        </div>
    </div>

    <h2>Països de Producció</h2>
    <div style="display: flex; gap: 20px; align-items: center;">
        <div>
            <label>Països Incluits</label>
            <select name="countryIds" id="countryIds" multiple>
            </select>
        </div>

        <div style="display: flex; flex-direction: column;">
            <button type="button" onclick="moveItem('remainingCountries', 'countryIds')">⬅</button>
            <button type="button" onclick="moveItem('countryIds', 'remainingCountries')">➜</button>
        </div>

        <div>
            <label>Països No Incluits</label>
            <select id="remainingCountries" multiple>
                <option th:each="country : ${allCountries}" th:value="${country.id}"
                        th:text="${country.countryName}"></option>
            </select>
        </div>
    </div>

    <h2>Idiomes</h2>
    <div style="display: flex; gap: 20px; align-items: center;">
        <div>
            <label>Idiomes Incluits</label>
            <select name="languageIds" id="languageIds" multiple>
            </select>
            <select name="languageRoleIds" id="languageRoleIds" style="display:none;" multiple></select>
        </div>

        <div style="display: flex; flex-direction: column;">
            <button type="button" onclick="moveLanguage()">⬅</button>
            <button type="button" onclick="removeLanguage()">➜</button>
        </div>

        <div>
            <label>Agregar Idiomes</label>
            <select id="allLanguages" multiple>
                <option th:each="language : ${allLanguages}" th:value="${language.id}"
                        th:text="${language.languageName}"></option>
            </select>
            <label>Selecciona el Rol</label>
            <select id="languageRole">
                <option value="1">Original</option>
                <option value="2">Spoken</option>
            </select>
        </div>
    </div>

    <h2>Paraules Clau</h2>
    <div style="display: flex; gap: 20px; align-items: center;">
        <div>
            <label>Paraules Clau Incluides</label>
            <select name="keywordIds" id="keywordIds" multiple>
            </select>
        </div>

        <div style="display: flex; flex-direction: column;">
            <button type="button" onclick="moveItem('remainingKeywords', 'keywordIds')">⬅</button>
            <button type="button" onclick="moveItem('keywordIds', 'remainingKeywords')">➜</button>
        </div>

        <div>
            <label>Paraules Clau No Incluides</label>
            <select id="remainingKeywords" multiple>
                <option th:each="keyword : ${allKeywords}" th:value="${keyword.id}"
                        th:text="${keyword.keywordName}"></option>
            </select>
        </div>
    </div>

    <h2>Companyies de Producció</h2>
    <div style="display: flex; gap: 20px; align-items: center;">
        <div>
            <label>Companyies Incluides</label>
            <select name="companyIds" id="companyIds" multiple>
            </select>
        </div>

        <div style="display: flex; flex-direction: column;">
            <button type="button" onclick="moveItem('remainingCompanies', 'companyIds')">⬅</button>
            <button type="button" onclick="moveItem('companyIds', 'remainingCompanies')">➜</button>
        </div>

        <div>
            <label>Companyies No Incluides</label>
            <select id="remainingCompanies" multiple>
                <option th:each="company : ${allCompanies}" th:value="${company.id}"
                        th:text="${company.companyName}"></option>
            </select>
        </div>
    </div>
    <h2>Actors</h2>
    <div style="display: flex; gap: 20px; align-items: center;">
        <div>
            <label>Actors Incluits</label>
            <select name="actorNames" id="actorNames" multiple></select>
            <select name="actorGenderIds" id="actorGenderIds" style="display: none;" multiple></select>
            <select name="actorCharacterNames" id="actorCharacterNames" style="display: none;" multiple></select>
        </div>

        <div style="display: flex; flex-direction: column;">
            <button type="button" onclick="moveActor()">⬅</button>
            <button type="button" onclick="removeActor()">➜</button>
        </div>

        <div>
            <label>Nomb del Actor</label>
            <input type="text" id="actorName" placeholder="Escriu el nom del actor" />

            <label>Selecciona el Genere</label>
            <select id="actorGender">
                <option value="0">Unspecified</option>
                <option value="1">Female</option>
                <option value="2">Male</option>
            </select>

            <label>Nom del Personatge</label>
            <input type="text" id="actorCharacterName" />
        </div>
    </div>
    <h2>Equip Tècnic</h2>
    <div style="display: flex; gap: 20px; align-items: center;">
        <div>
            <label>Equip Inclòs</label>
            <select name="crewNamesVisible" id="crewNamesVisible" multiple></select>

            <select name="crewNames" id="crewNames" style="display: none;" multiple></select>
            <select name="crewJobs" id="crewJobs" style="display: none;" multiple></select>
            <select name="crewDepartments" id="crewDepartments" style="display: none;" multiple></select>
        </div>

        <div style="display: flex; flex-direction: column;">
            <button type="button" onclick="moveCrew()">⬅</button>
            <button type="button" onclick="removeCrew()">➜</button>
        </div>

        <div>
            <label>Nom de la Persona</label>
            <input type="text" id="crewName" placeholder="Escriu el nom de la persona" />

            <label>Treball</label>
            <input type="text" id="crewJob" placeholder="Escriu el treball" />

            <label>Departament</label>
            <input type="text" id="crewDepartment" placeholder="Escriu el departament" />
        </div>
    </div>



    <button type="submit">Desar nova pel·lícula</button>
</form>
</body>
</html>