<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalls de la Companyia de la Pel·lícula</title>
    <link rel="stylesheet" href="/detail-page.css">
</head>
<body>
<h1>Detalls de la Companyia de la Pel·lícula</h1>

<form action="/editMovieCompany" method="post">
    <input type="hidden" name="id.movieId" th:value="${movieCompany.movie.id}" />
    <input type="hidden" name="id.companyId" th:value="${movieCompany.companyId.id}" />

    <label for="movieId">ID de la Pel·lícula:</label>
    <input type="number" id="movieId" name="movie.id" th:value="${movieCompany.movie.id}" readonly>

    <label for="companyId">ID de la Companyia:</label>
    <input type="number" id="companyId" name="company.id" th:value="${movieCompany.company.id}" readonly>

    <button type="submit">Guardar</button>
</form>

<a th:href="@{/deleteMovieCompany/{movieId}/{company}(movieId=${movieCompany.movie.id}, company=${movieCompany.company.id})}">Eliminar</a>

<hr>

<br>
<a href="/movieCompany">Tornar a la llista</a>
</body>
</html>
