<!DOCTYPE html>
<html lang="ca" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Editar Pel·lícula</title>
    <link rel="stylesheet" href="/movie-details.css">
    <script src="/movie-details.js" defer></script>
</head>
<body>
<h1>Editar Pel·lícula: <span th:text="${movie.title}"></span></h1>

<form th:action="@{/movie}" th:object="${movie}" method="post">
    <input type="hidden" th:field="*{id}" />

    <div>
        <label for="title">Títol</label>
        <input type="text" th:field="*{title}" id="title" required />
    </div>
    <div>
        <label for="budget">Pressupost</label>
        <input type="number" th:field="*{budget}" id="budget" required />
    </div>
    <div>
        <label for="homepage">Pàgina web</label>
        <input type="text" th:field="*{homepage}" id="homepage" />
    </div>
    <div>
        <label for="overview">Descripció</label>
        <textarea th:field="*{overview}" id="overview"></textarea>
    </div>
    <div>
        <label for="release_date">Data d'Estrena</label>
        <input type="date" th:field="*{release_date}" id="release_date" />
    </div>

    <h2>Gèneres</h2>
    <div style="display: flex; gap: 20px; align-items: center;">
        <select name="genreIds" id="genreIds" multiple>
            <option th:each="genre : ${movieGenres}" th:value="${genre.genre.id}"
                    th:text="${genre.genre.genreName}"></option>
        </select>

        <div style="display: flex; flex-direction: column;">
            <button type="button" onclick="moveItem('remainingGenres', 'genreIds')">⬅</button>
            <button type="button" onclick="moveItem('genreIds', 'remainingGenres')">➜</button>
        </div>

        <select id="remainingGenres" multiple>
            <option th:each="genre : ${remainingGenres}" th:value="${genre.id}"
                    th:text="${genre.genreName}"></option>
        </select>
    </div>

    <h2>Països de Producció</h2>
    <div style="display: flex; gap: 20px; align-items: center;">
        <select name="countryIds" id="countryIds" multiple>
            <option th:each="country : ${productionCountries}" th:value="${country.country.id}"
                    th:text="${country.country.countryName}"></option>
        </select>

        <div style="display: flex; flex-direction: column;">
            <button type="button" onclick="moveItem('remainingCountries', 'countryIds')">⬅</button>
            <button type="button" onclick="moveItem('countryIds', 'remainingCountries')">➜</button>
        </div>

        <select id="remainingCountries" multiple>
            <option th:each="country : ${remainingCountries}" th:value="${country.id}"
                    th:text="${country.countryName}"></option>
        </select>
    </div>

    <h2>Idiomes</h2>
    <div style="display: flex; gap: 20px; align-items: center;">
        <select name="languageIds" id="languageIds" multiple>
            <option th:each="language : ${movieLanguages}" th:value="${language.language.id}"
                    th:text="${language.language.languageName}"></option>
        </select>

        <div style="display: flex; flex-direction: column;">
            <button type="button" onclick="moveItem('remainingLanguages', 'languageIds')">⬅</button>
            <button type="button" onclick="moveItem('languageIds', 'remainingLanguages')">➜</button>
        </div>

        <select id="remainingLanguages" multiple>
            <option th:each="language : ${remainingLanguages}" th:value="${language.id}"
                    th:text="${language.languageName}"></option>
        </select>
    </div>

    <h2>Paraules Clau</h2>
    <div style="display: flex; gap: 20px; align-items: center;">
        <select name="keywordIds" id="keywordIds" multiple>
            <option th:each="keyword : ${movieKeywords}" th:value="${keyword.keyword.id}"
                    th:text="${keyword.keyword.keywordName}"></option>
        </select>

        <div style="display: flex; flex-direction: column;">
            <button type="button" onclick="moveItem('remainingKeywords', 'keywordIds')">⬅</button>
            <button type="button" onclick="moveItem('keywordIds', 'remainingKeywords')">➜</button>
        </div>

        <select id="remainingKeywords" multiple>
            <option th:each="keyword : ${remainingKeywords}" th:value="${keyword.id}"
                    th:text="${keyword.keywordName}"></option>
        </select>
    </div>

    <h2>Companyies de Producció</h2>
    <div style="display: flex; gap: 20px; align-items: center;">
        <select name="companyIds" id="companyIds" multiple>
            <option th:each="company : ${movieCompanies}" th:value="${company.company.id}"
                    th:text="${company.company.companyName}"></option>
        </select>

        <div style="display: flex; flex-direction: column;">
            <button type="button" onclick="moveItem('remainingCompanies', 'companyIds')">⬅</button>
            <button type="button" onclick="moveItem('companyIds', 'remainingCompanies')">➜</button>
        </div>

        <select id="remainingCompanies" multiple>
            <option th:each="company : ${remainingCompanies}" th:value="${company.id}"
                    th:text="${company.companyName}"></option>
        </select>
    </div>


   <!-- <h2>Repartiment</h2>
    <div th:each="cast : ${movieCasts}">
        <label th:text="${cast.person.personName}"></label>
        <input type="hidden" name="castIds" th:value="${cast.person.id}" />
        <input type="text" name="characterNames" th:value="${cast.characterName}" />
    </div>

    <h2>Equip Tècnic</h2>
    <div th:each="crew : ${movieCrews}">
        <label th:text="${crew.person.personName}"></label>
        <input type="hidden" name="crewIds" th:value="${crew.person.id}" />
        <input type="text" name="jobTitles" th:value="${crew.job}" />
    </div> -->

    <button type="submit">Desar canvis</button>
</form>

</body>
</html>