<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crea una Nova Persona</title>
</head>
<body>
<h1>Crea una Nova Persona</h1>

<form action="/personCreate" method="post">
    <label for="personName">Nom de la Persona:</label>
    <input type="text" id="personName" name="personName" required>
    <button type="submit">Crear</button>
</form>

<br>
<a href="/person">Tornar a la llista de persones</a>
</body>
</html>
