<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Llista de Persones</title>
    <link rel="stylesheet" href="/list.css">
</head>
<body>
<h1>Llista de Persones</h1>
<a href="/crud">Retorna a la gestio de dades</a>
<form action="/createPerson" method="get">
    <button type="submit">Crear una Nova Persona</button>
</form>

<form action="/searchPerson" method="get">
    <input type="text" name="personName" placeholder="Escriu el nom de la persona" required>
    <button type="submit">Buscar</button>
</form>
<table>
    <thead>
    <tr>
        <th>Persona</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="person : ${persons}">
        <tr>
            <td><span th:text="${person.personName}"></span></td>
            <td>
                <a th:href="@{/searchPerson(personName=${person.personName})}">Veure / Editar</a> |
                <a th:href="@{/deletePerson/{id}(id=${person.id})}">Eliminar</a>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>
<div>
    <a th:if="${currentPage > 0}" th:href="@{/person(page=${currentPage - 1})}">Anterior</a>
    <span th:text="${currentPage + 1}"></span> / <span th:text="${totalPages}"></span>
    <a th:if="${currentPage + 1 < totalPages}" th:href="@{/person(page=${currentPage + 1})}">Siguiente</a>
</div>
</body>
</html>
