<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Nueva Compañía</title>
    <link rel="stylesheet" href="/create.css">
</head>
<body>
<h1>Crear Nueva Compañía</h1>

<form action="/createProductionCompany" method="post">
    <label for="companyName">Nombre de la Compañía:</label>
    <input type="text" id="companyName" name="companyName" required>
    <button type="submit">Crear</button>
</form>

<br>
<a href="/productionCompany">Volver a la lista de compañías</a>
</body>
</html>
